/* ================ Font ================ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* ================ Base ================ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body,
button,
textarea,
a{
     font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}
/* REGISTER FORM */


.register-form {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
}

.register-form h2 {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  font-size: 13px;
  color: #333;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #000;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #222;
}

/* Bottom design */
.bottom-design {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 25px;
}

.bottom-design span {
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  opacity: 0.2;
}

.password-rules {
  font-size: 12px;
  color: #555;
  margin-top: 6px;
  display: block;
  line-height: 1.4;
}

/* alert */
.alert {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  opacity: 0;
  transform: translateY(-10px);
  position: absolute;
  top: 50px;
  margin: auto;
}

/* Error style */
.alert-error {
  background: #fee2e2;
  color: #991b1b;
  border-left: 4px solid #dc2626;
}

/* Icon */
.alert .icon {
  font-weight: bold;
  background: #dc2626;
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

/* Show animation */
.alert.show {
  animation: slideFade 0.4s ease forwards, shake 0.4s ease 0.4s;
}

/* Fade + slide */
@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Shake animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}


/* LOGIN */

/* Form */
.auth-form {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.06);
}

.auth-form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 6px;
  color: #000;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

/* Inputs */
.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #000;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #222;
}

/* Switch link */
.switch {
  margin-top: 16px;
  text-align: center;
  font-size: 13px;
  color: #555;
}

.switch a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.switch a:hover {
  text-decoration: underline;
}

/* Bottom dots */
.bottom-design {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 25px;
}

.bottom-design span {
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  opacity: 0.2;
}


/* OTP FROM */
/* OTP inputs */
.otp-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.otp-box input {
  width: 42px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.otp-box input:focus {
  border-color: #000;
}


/* DASHBOARD */



/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.logo {
  font-weight: 600;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.nav-right .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logout{
    cursor: pointer;
    padding-top: 4px;
    transition: .2s;
}
.logout:hover{
    transform: scale(1.1);
}

/* SIDEBAR */
.sidebar {
  position: relative;
  top: 56px;
  left: 0;
  width: 240px;
  height: calc(100vh - 56px);
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 16px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 6px;
}

.sidebar li:hover {
  background: #f1f5f9;
}

.sidebar .active {
  background: #e0f2fe;
  font-weight: 600;
}

/* CONTENT */
.content {
  padding: 80px 24px 24px;
  width: 100%;
  height: 100vh;
  /* background: #000; */
}
